<h3 class="place-name"><%= name %></h3>
<h4>Description</h4>
<% if (locals.description) { %>
  <p><%= description %></p>
<% } else { %>
  <p class="text-muted">No description available.</p>
<% } %>
<h4>Weather</h4>
<div id="forecast">
  <table class="table table-hover">
    <tbody>
      <% for (var i = 0; i <= forecast.length - 1; i++) { %>
        <tr>
          <th class="text-uppercase"><%= dayNames[new Date(forecast[i].dt * 1000).getDay()] %></th>
          <td><%= forecast[i].temp.day %>&#8451;</td>
          <td class="text-muted"><%= forecast[i].temp.night %>&#8451;</td>
          <td>
            <%= forecast[i].weather[0].main %>
            <br>
            (<%= forecast[i].weather[0].description %>)
          </td>
          <td><img src="<%= forecast[i].weather[0].iconUrl %>"></td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
<h4>Reviews</h4>
<div id="disqus_thread"></div>
<script>
  // var disqus_config = function () {
  //   this.page.url = PAGE_URL;
  //   this.page.identifier = PAGE_IDENTIFIER;
  // };

  (function() {
    var d = document;
    var s = d.createElement('script');

    s.src = '//kaspersky91.disqus.com/embed.js';

    s.setAttribute('data-timestamp', + new Date());

    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus</a>.</noscript>
